# -*- coding: utf-8 -*-
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Certificate Validation ")}</%block>
<section class="container-fluid px-0" id="certificate_validation">
    <div class="container-center max-course-container mx-auto">
        <img src="${static.url('open-uchile-theme/images/banner-04-bg.jpg')}" alt='${_("Certificates validation")}' class="mx-auto openuchile-header d-block">
    </div>
    <div class="container px-3">
        <h1 class="text-centter m-0">
            ${_("Certificate Validation ")}
        </h1>
        <div class="validate-certificate-border pb-5"></div>
        <div class="card col-12 col-md-8 col-lg-8 mx-auto p-3 mx-5">
            <div class="card-body p-3">
                <form method="POST">
                    <input type="hidden" name="csrfmiddlewaretoken" value="${ csrftoken }"/>
                    <div class="form-group">
                        <h3 class="lead text-center py-3">
                            ${_("Certificate ID number")}
                        </h3>
                        % if context.get('_id', UNDEFINED) is not UNDEFINED:
                            <input type="text" class="form-control mt-2" name='cert-id' value="${_id}"></input>
                        % else:
                            <input type="text" class="form-control mt-2" name='cert-id' placeholder="9c7f2edd26f7477a8b9fb05f763f869c"></input>
                        % endif
                    </div>
                    % if context.get('exists', UNDEFINED) is not UNDEFINED:
                        % if context.get('exists') is False:
                            <p style="color:firebrick; margin-top: 15px; text-align: center;">${_("Certificate was not found")}</p>
                        % endif
                    % endif
                    <div class="text-center">
                        <input type="submit" class="btn mt-4 py-2 px-5 w-100" value='${_("Validate")}'>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
