<%page expression_filter="h"/>
<%!
  from django.utils.translation import ugettext as _
  from datetime import datetime, timedelta
  from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
  from openedx.core.djangoapps.theming import helpers as theming_helpers
  from django.urls import reverse
  import traceback
%>
<%inherit file="../main.html" />
<%
  course_discovery_enabled = settings.FEATURES.get('ENABLE_DASHBOARD_SEARCH')
%>

<%namespace name='static' file='../static_content.html'/>

% if course_discovery_enabled:
  <%block name="header_extras">
  <%block name="pagetitle">${_("Courses")}</%block>
  </%block>
  % endif
  <%block name="js_extra">
    <script type="text/javascript" src="${static.url(theming_helpers.get_current_site_theme().theme_dir_name+'/js/open_search.js')}"></script>
    <script type="text/javascript" src="${static.url(theming_helpers.get_current_site_theme().theme_dir_name+'/pagination/jquery.twbsPagination.js')}"></script>
  </%block>

  <%
  course_classification_url = None
  course_classification_traceback = None
  try:
    course_classification_url = reverse('get_all_main_classifications')
  except Exception:
    if settings.DEBUG:
        course_classification_traceback = traceback.format_exc()
  %>

  %if course_classification_traceback:
    <div class="course_classification_traceback" hidden>
      <pre>${course_classification_traceback}</pre>
    </div>
  %elif course_classification_url:
    <%include file="course_explorer.html"/>
  %endif
%endif
