<%page expression_filter="h" />
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html' />
<%inherit file="../main.html" />
<%!
  from django.urls import reverse
  import traceback
%>
<%
  eolcontactform_url = None
  eolcontactform_traceback = None
  try:
    eolcontactform_url = '{}'.format(reverse('contact_form_view'))
  except Exception as e:
    eolcontactform_traceback = traceback.format_exc()
%>
% if eolcontactform_traceback and settings.DEBUG:
  <div class="eolcontactform_traceback" hidden>
    <pre>${eolcontactform_traceback}</pre>
  </div>
% endif

<%block name="pagetitle">${_("FAQ")}</%block>
<section class="container-fluid px-0" id="faq" >
    <div class="container-center max-course-container mx-auto">
        <img src="${static.url('open-uchile-theme/images/banner-03-bg.jpg')}" alt='${_("FAQ")}' class="mx-auto openuchile-header d-block">
    </div>
    <div class="container px-3">
        <h1 class="text-center m-0">
            ${_('Frequently Asked Questions')}
        </h1>
        <div class="faq-border"></div>
        <div class="accordion" id="faqsaccordion">
            <h2 class="header-open-faq">Sobre OpenUChile</h2>
            <div class="accordion-item my-2">
                <h2 class="accordion-header" id="headingfaq1">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq1" aria-expanded="true" aria-controls="faq1">
                        ¿Qué es OpenUChile?
                    </button>
                </h2>
                <div id="faq1" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#faqsaccordion">
                    <div class="accordion-body">
                    OpenUChile es la plataforma de formación online de educación continua y extensión de la Universidad de Chile, administrada por la Oficina
                    de Educación Online (EOL) de la Vicerrectoría de Tecnologías de la Información (VTI). Este portal muestra e imparte la diversidad de oferta
                    formativa que las unidades académicas disponibilizan a la comunidad y al público en general. 
                    </div>
                </div>
            </div>

            <div class="accordion-item my-2">
                <h2 class="accordion-header" id="headingfaq2">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq2" aria-expanded="false" aria-controls="faq2">
                        ¿Cuál es el equipamiento mínimo requerido para realizar un curso en OpenUChile?
                    </button>
                </h2>
                <div id="faq2" class="accordion-collapse collapse" aria-labelledby="faq2"
                    data-bs-parent="#faqsaccordion">
                    <div class="accordion-body">
                        Necesitas un dispositivo con conexión a Internet. Si bien, la plataforma se visualiza correctamente en una amplia variedad de 
                        dispositivos, su óptimo funcionamiento se garantiza al utilizar los navegadores Google Chrome, Mozilla Firefox o Microsoft Edge. 
                        En caso de no contar con alguno, descárgalos gratis directamente desde sus páginas oficiales. Además, para que todas las funcionalidades 
                        operen correctamente, es necesario tener JavaScript habilitado y permitir cookies esenciales de la plataforma.
                    </div>
                </div>
            </div>

            <div class="accordion-item my-2">
                <h2 class="accordion-header" id="headingfaq3">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq3" aria-expanded="false" aria-controls="faq3">
                        ¿Puedo tener más de una cuenta de usuario en OpenUChile? 
                    </button>
                </h2>
                <div id="faq3" class="accordion-collapse collapse" aria-labelledby="faq3"
                    data-bs-parent="#faqsaccordion">
                    <div class="accordion-body">
                        No, la plataforma requiere que cada usuario mantenga una única cuenta, utilizando para ello información personal fidedigna. 
                        El uso de múltiples cuentas o datos inconsistentes afecta a los procesos de verificación de identidad y la gestión académica asociada 
                        a sus cursos. 
                    </div>
                </div>
            </div>
            <div class="accordion-item my-2">
                <h2 class="accordion-header" id="headingfaq4">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq4" aria-expanded="false" aria-controls="faq4">
                        ¿Los cursos de OpenUChile entregan certificación, título o grado académico?
                    </button>
                </h2>
                <div id="faq4" class="accordion-collapse collapse" aria-labelledby="faq4"
                    data-bs-parent="#faqsaccordion">
                    <div class="accordion-body">
                        Las condiciones específicas de certificación se detallan en cada curso. Es importante señalar que la obtención de la certificación, 
                        título o grado académico siempre dependerá de la reglamentación vigente de la Universidad de Chile. Adicionalmente, la emisión de cualquier 
                        documento que acredite los aprendizajes se realizará conforme a los precios y condiciones de aprobación de cada curso. 
                    </div>
                </div>
            </div>
            <h2 class="header-open-faq">Registro en OpenUChile</h2>
            <div class="accordion-item my-2">
                <h2 class="accordion-header" id="headingfaq5">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq5" aria-expanded="false" aria-controls="faq5">
                        ¿Cómo me registro en OpenUChile?
                    </button>
                </h2>
                <div id="faq5" class="accordion-collapse collapse" aria-labelledby="faq5"
                    data-bs-parent="#faqsaccordion">
                    <div class="accordion-body">
                        <p>Para registrarte, sigue estos pasos: </p>
                        <ol>
                            <li>
                                Haz clic en el botón  <a class="" href="/register">${_('Register')}</a> en el encabezado de esta plataforma (esquina superior derecha).
                            </li>
                            <li>
                                Completa los datos solicitados: Nombre Completo, Nombre público de usuario, Correo electrónico y Contraseña. Pon especial atención al escribir tus datos. 
                            </li>
                             <li>
                                Si estás de acuerdo, haz clic en la opción “Ayuda a la investigación académica brindando más información” y escribe los datos solicitados. 
                            </li>
                             <li>
                                Haz clic en el botón Crear cuenta.
                            </li>
                            <li>
                                Sigue las instrucciones del correo de activación recibido. En caso de no visualizarlo, busca en la carpeta de spam de tu casilla de correo electrónico. 
                            </li>
                        </ol>
                        <p>
                        NOTA: Si tienes cuenta Mi.UChile, accede directamente al botón <a class="" href="/login">${_('Sign in')}</a>  del encabezado de esta plataforma (esquina superior derecha), haz clic en la opción Ingresa con tu cuenta Mi.UChile y digita tu usuario y contraseña.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item my-2">
                <h2 class="accordion-header" id="headingfaq6">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq6" aria-expanded="false" aria-controls="faq6">
                        ¿Cómo ingreso a OpenUChile?
                    </button>
                </h2>
                <div id="faq6" class="accordion-collapse collapse" aria-labelledby="faq6"
                    data-bs-parent="#faqsaccordion">
                    <div class="accordion-body">
                        <p>Para ingresar, sigue estos pasos:</p>
                        <ol>
                            <li>
                                Haz clic en el botón <a class="" href="/login">${_('Sign in')}</a>  del encabezado de esta plataforma (esquina superior derecha).
                            </li>
                            <li>
                                 Haz clic en una de las opciones, según tu tipo de cuenta: 
                                 <ul type="disc">
                                    <li>Si tienes cuenta <b>OpenUChile</b>, haz clic en la opción Ingresa con tu cuenta OpenUChile, digita tu correo electrónico y contraseña, y haz clic en el botón Iniciar sesión. </li>
                                    <li>Si tienes cuenta <b>Mi.UChile</b>, haz clic en la opción Ingresa con tu cuenta Mi.UChile, digita tu usuario y contraseña, y haz clic en el botón Ingresar. </li>
                                </ul>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="accordion-item my-2">
                <h2 class="accordion-header" id="headingfaq7">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq7" aria-expanded="false" aria-controls="faq7">
                        Me inscribí en un curso y no me ha llegado la notificación para ingresar. 
                    </button>
                </h2>
                <div id="faq7" class="accordion-collapse collapse" aria-labelledby="faq7"
                    data-bs-parent="#faqsaccordion">
                    <div class="accordion-body">
                        <p>El ingreso a un curso dependerá del tipo de inscripción:</p>
                        <ul>
                            <li><b>Curso con inscripciones abiertas:</b> cada persona se inscribe de manera autónoma y puede ingresar inmediatamente al curso si su fecha de inicio es hoy o ya ocurrió. No considera una notificación inicial desde la coordinación del curso o desde la plataforma. El estudiante deberá estar atento a las fechas relevantes del curso publicadas en la plataforma.</li>
                            <li><b>Curso con inscripciones cerradas o “sólo por invitación”:</b> las personas aceptadas serán notificadas desde la coordinación del curso o desde la plataforma. El estudiante deberá estar atento a las fechas relevantes del curso entregadas por la coordinación del curso y/o publicadas en la plataforma.</li>
                        </ul>
                            
                    </div>
                </div>
            </div>
            <div class="accordion-item my-2">
                <h2 class="accordion-header" id="headingfaq8">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq8" aria-expanded="false" aria-controls="faq8">
                        ¿Cómo cambio mi nombre y/o contraseña?
                    </button>
                </h2>
                <div id="faq8" class="accordion-collapse collapse" aria-labelledby="faq8"
                    data-bs-parent="#faqsaccordion">
                    <div class="accordion-body">
                        <p>Para cambiar tu nombre y/o contraseña, sigue estos pasos: </p>
                        <ol>
                            <li>
                                Inicia sesión en open.uchile.cl
                            </li>
                            <li>
                                Haz clic en el ícono de usuario en el encabezado de la plataforma (esquina superior derecha).
                            </li>
                             <li>
                                Haz clic en la opción Cuenta del menú desplegable. 
                            </li>
                             <li>
                                Modifica tu nombre en el campo Nombre completo y/o tu contraseña en el botón Restablecer tu contraseña. 
                            </li>
                            <li>
                                    Si hiciste clic en el botón Restablecer tu contraseña, sigue las instrucciones del correo recibido. En caso de no visualizarlo, busca en la carpeta de spam de tu casilla de correo.
                            </li>
                        </ol>
                        El nombre completo registrado debe coincidir con tu documento de identidad nacional, para así poder verificar tu identidad y emitir certificaciones oficiales electrónicas.
                    </div>
                </div>
            </div>
            <div class="accordion-item my-2">
                <h2 class="accordion-header" id="headingfaq9">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq9" aria-expanded="false" aria-controls="faq9">
                        ¿Cómo cambio mi correo electrónico?
                    </button>
                </h2>
                <div id="faq9" class="accordion-collapse collapse" aria-labelledby="faq9"
                    data-bs-parent="#faqsaccordion">
                    <div class="accordion-body">
                        <p>Para cambiar tu correo electrónico, sigue estas indicaciones:</p>
                        <ul>
                            <li>
                                <p>
                                    Si tienes una cuenta <b>OpenUChile</b>, solicita el cambio en el 
                                        %if eolcontactform_url:
                                            <a href="/contact_form">${_('Contact form')}</a>
                                        %else:
                                            ${_('Contact form')}
                                        % endif
                                    indicando el correo actual y el nuevo.
                                </p>
                            </li>
                            <li>
                                Si tienes una cuenta <b>Mi.UChile</b>, solicita el cambio a  <a href="mailto:mesadeayuda@uchile.cl">mesadeayuda@uchile.cl</a> e infórmanos el resultado del proceso para actualizar tu correo electrónico en la plataforma OpenUChile. 
                            </li>
                        </ul>
                        El nombre completo registrado debe coincidir con tu documento de identidad nacional, para así poder verificar tu identidad y emitir certificaciones oficiales electrónicas.
                    </div>
                </div>
            </div>
            <div class="accordion-item my-2">
                <h2 class="accordion-header" id="headingfaq10">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq10" aria-expanded="false" aria-controls="faq10">
                        ¿Cómo recupero una contraseña olvidada?
                    </button>
                </h2>
                <div id="faq10" class="accordion-collapse collapse" aria-labelledby="faq10"
                    data-bs-parent="#faqsaccordion">
                    <div class="accordion-body">
                         <ol>
                            <li>
                                Haz clic en el botón <a class="" href="/login">${_('Sign in')}</a>  del encabezado de esta plataforma (esquina superior derecha).
                            </li>
                            <li>
                                Haz clic en una de las opciones, según tu tipo de cuenta: 
                                <ul type="disc">
                                    <li>Si tienes cuenta <b>OpenUChile</b>, haz clic en la opción Olvidé mi contraseña, ingresa tu correo electrónico y haz clic en el botón Recuperar mi contraseña. Sigue las instrucciones del correo recibido. En caso de no visualizarlo, busca en la carpeta de spam de tu casilla de correo.</li>
                                    <li>Si tienes cuenta <b>Mi.UChile</b>, haz clic en la opción ¿Olvidó su clave?, ingresa tu rut o número de pasaporte extranjero, haz clic en el botón Siguiente y sigue las instrucciones que se presentan en pantalla.</li>
                                </ul>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="accordion-item my-2">
                <h2 class="accordion-header" id="headingfaq11">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq11" aria-expanded="false" aria-controls="faq11">
                        ¿Puede OpenUChile cancelar mi cuenta?
                    </button>
                </h2>
                <div id="faq11" class="accordion-collapse collapse" aria-labelledby="faq11"
                    data-bs-parent="#faqsaccordion">
                    <div class="accordion-body">
                        Sí, OpenUChile se reserva el derecho de cancelar la cuenta de la persona que incumpla los términos y condiciones de la plataforma. 
                    </div>
                </div>
            </div>
            <h2 class="header-open-faq">Otras Consultas en OpenUChile</h2>
            <div class="accordion-item my-2">
                <h2 class="accordion-header" id="headingfaq12">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq12" aria-expanded="false" aria-controls="faq12">
                        ¿Cuánto cuestan y cuál es la duración de los cursos en OpenUChile?
                    </button>
                </h2>
                <div id="faq12" class="accordion-collapse collapse" aria-labelledby="faq12"
                    data-bs-parent="#faqsaccordion">
                    <div class="accordion-body">
                        <p>
                            Tanto los precios, como la duración de los cursos, dependerán de las condiciones propias de cada uno. Para conocer más detalles, 
                            revisa los cursos en la opción <a class="" href="/courses">${_('Explore courses')}</a> del encabezado de esta plataforma (esquina superior derecha).
                        </p>
                    </div>
                </div>
            </div>

            <div class="accordion-item my-2">
                <h2 class="accordion-header" id="headingfaq13">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq13" aria-expanded="false" aria-controls="faq13">
                        ¿Quiénes pueden tomar cursos en OpenUChile?
                    </button>
                </h2>
                <div id="faq13" class="accordion-collapse collapse" aria-labelledby="faq13"
                    data-bs-parent="#faqsaccordion">
                    <div class="accordion-body">
                        Los requisitos de ingreso serán fijados por las unidades académicas y dependerán de las condiciones propias de cada curso.
                    </div>
                </div>
            </div>

            <div class="accordion-item my-2">
                <h2 class="accordion-header" id="headingfaq14">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq14" aria-expanded="false" aria-controls="faq14">
                        ¿En qué horario se dictan las clases en OpenUChile?
                    </button>
                </h2>
                <div id="faq14" class="accordion-collapse collapse" aria-labelledby="faq14"
                    data-bs-parent="#faqsaccordion">
                    <div class="accordion-body">
                        El horario de las actividades del curso dependerá de su modalidad:
                        <ul>
                            <li><b>Cursos con clases sincrónicas</b>: los horarios son establecidos previamente por las unidades académicas y están sujetos a las condiciones específicas de cada curso. Estos serán informados oportunamente por la coordinación del curso. </li>
                            <li><b>Cursos asincrónicos</b>: los contenidos están disponibles 24/7 en la plataforma, durante el periodo que dura el curso.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-item my-2">
                <h2 class="accordion-header" id="headingfaq15">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq15" aria-expanded="false" aria-controls="faq15">
                        ¿Qué significan los créditos académicos?
                    </button>
                </h2>
                <div id="faq15" class="accordion-collapse collapse" aria-labelledby="faq15"
                    data-bs-parent="#faqsaccordion">
                    <div class="accordion-body">
                        <p>El Sistema de Créditos Transferibles, denominado SCT-Chile, busca medir, racionalizar y distribuir
                        el trabajo académico de los estudiantes entre las diversas actividades curriculares que componen
                        su plan de estudios, teniendo como objetivos:</p>
                         <ul>
                            <li>
                                Considerar el tiempo que requiere un estudiante para el logro de los resultados de
                                aprendizaje y el desarrollo de las competencias laborales en una determinada actividad
                                curricular. 
                            </li>
                            <li>
                                Promover la legibilidad de un programa de formación y la transferencia de estos créditos
                                académicos de una institución a otra.
                            </li>
                            <li>
                                Favorecer la movilidad estudiantil universitaria. 
                            </li>
                        </ul>
                        Para mayor información, puedes visitar el sitio web <a href="https://sct-chile.consejoderectores.cl/">https://sct-chile.consejoderectores.cl/.</a>
                    </div>
                </div>
            </div>

            <div class="accordion-item my-2">
                <h2 class="accordion-header" id="headingfaq16">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq16" aria-expanded="false" aria-controls="faq16">
                        ¿Qué señala la certificación electrónica que otorga OpenUChile?
                    </button>
                </h2>
                <div id="faq16" class="accordion-collapse collapse" aria-labelledby="faq16"
                    data-bs-parent="#faqsaccordion">
                    <div class="accordion-body">
                        <ol type="I">
                            <li><b>Información mínima</b></li>
                             <ul type="disc" class="mb-3">
                                <li>
                                    Nombre completo del estudiante registrado en la plataforma. 
                                </li>
                                <li>
                                    Nombre del curso aprobado. 
                                </li>
                                <li>
                                    Calificación obtenida por el estudiante y escala de aprobación utilizada. 
                                </li>
                                <li>
                                    Período o año de realización del curso. 
                                </li>
                                <li>
                                    Horas de duración del curso y/o su equivalencia en créditos académicos.
                                </li>
                                <li>
                                    Logos de las unidades académicas del curso y firmas de las autoridades correspondientes. 
                                </li>
                             </ul>
                            <li><b>Verificación y validez</b></li>
                                <p class="my-3">
                                    Para asegurar la autenticidad de la certificación, cada certificado incluye un código único de verificación que 
                                    enlaza a un registro público y permite la verificación y el registro digital del documento.
                                </p>
                            <li><b>Disposiciones y ajustes</b></li>
                                <p class="mt-3">
                                    Las unidades académicas podrán realizar ajustes a los formatos estándar de las certificaciones, en función de 
                                    las condiciones específicas de cada curso. Adicionalmente, se reservan el derecho de:
                                </p>
                                <ul type="disc">
                                    <li>
                                        Entregar estos certificados en formato físico. 
                                    </li>
                                    <li>
                                        Incluir documentación adicional que acredite los aprendizajes y las competencias obtenidas. 
                                    </li>
                                </ul>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="accordion-item my-2">
                <h2 class="accordion-header" id="headingfaq17">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq17" aria-expanded="false" aria-controls="faq17">
                        ¿Puedo cambiar el nombre que aparece en mi certificación?
                    </button>
                </h2>
                <div id="faq17" class="accordion-collapse collapse" aria-labelledby="faq17"
                    data-bs-parent="#faqsaccordion">
                    <div class="accordion-body">
                        <p>
                            Si deseas actualizar tus datos de certificación, completa el
                            %if eolcontactform_url:
                                <a href="/contact_form">${_('Contact form')}</a>
                            %else:
                                ${_('Contact form')}
                            % endif
                            , seleccionando la opción Emisión de 
                            certificados e indicando los detalles de tu solicitud. Las certificaciones se emiten utilizando el nombre completo 
                            registrado en la inscripción en la plataforma, el cual debe ser el mismo que aparece en tu documento de identidad nacional.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item my-2">
                <h2 class="accordion-header" id="headingfaq18">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq18" aria-expanded="false" aria-controls="faq18">
                        Pagué mi certificado y no me ha llegado la notificación para descargarlo.
                    </button>
                </h2>
                <div id="faq18" class="accordion-collapse collapse" aria-labelledby="faq18"
                    data-bs-parent="#faqsaccordion">
                    <div class="accordion-body">
                        <p>
                            Para poder descargar tu certificado, debes verificar tu identidad en la plataforma y cumplir los requisitos de aprobación
                            del curso. Una vez completado lo anterior, puedes ir a la pestaña de Progreso del curso y obtener tu certificado haciendo 
                            clic en el botón Solicitar certificado. No se envían notificaciones a quienes tienen disponible la descarga de un certificado.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
